@page "/ProjectManagement"
@using Domain
@using DTOs.ExporterDTOs
@using DTOs.ProjectDTOs
@using DTOs.UserDTOs
@using Task = System.Threading.Tasks.Task
@using Service.ExportService
@using Service

@inject NavigationManager NavigationManager
@inject ProjectService ProjectService
@inject UserService UserService
@inject SessionService SessionService
@inject ProjectCsvExporter ProjectCsvExporter
@inject ProjectJsonExporter ProjectJsonExporter

<PageTitle>Project Management</PageTitle>
<h1>Project Management</h1>

<button class="btn btn-primary mb-3" @onclick="GoToCreateProject">Create</button>

@if (_projects != null && _projects.Any())
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>Administrator</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var project in _projects)
        {
            <tr>
                <td>@project.Name</td>
                <td>@project.StartDate.ToShortDateString()</td>
                <td>@GetAdministratorDisplay(project)</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-success me-2" @onclick="() => ViewTasks(new GetProjectDTO() { Id = project.Id, Name = project.Name })">
                            View Tasks
                        </button>
                        @if (CanEditProject(project))
                        {
                            <button class="btn btn-sm btn-danger me-2" @onclick="() => DeleteProject(new GetProjectDTO() { Id = project.Id, Name = project.Name })">
                                Delete
                            </button>
                            <button class="btn btn-warning" @onclick="() => GoToEditProject(project)">
                                Edit
                            </button>
                        }
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <button class="btn btn-primary mb-3" @onclick="@(async () => await ExportProject("csv"))">Export CSV</button>
    <button class="btn btn-primary mb-3" @onclick="@(async () => await ExportProject("json"))">Export JSON</button>
    <button class="btn btn-primary mb-3" @onclick="GoToDiagram">Diagram</button>
    
    @if (!string.IsNullOrEmpty(_errorMessage))
    {
        <div class="alert alert-danger mt-2">@_errorMessage</div>
    }

    @if (!string.IsNullOrEmpty(_successMessage))
    {
        <div class="alert alert-success mt-2">@_successMessage</div>
    }
}
else
{
    <p>No project created.</p>
}

@code {
    private List<ProjectDataDTO> _projects = new();
    private User? _currentUser;
    private string? _errorMessage;
    private string? _successMessage;

    protected override void OnInitialized()
    {
        if (SessionService.IsLoggedIn() && SessionService.CurrentUser != null)
        {
            _currentUser = SessionService.CurrentUser;
            _projects = ProjectService.ProjectsDataByUserEmail(_currentUser.Email);
        }
        else
        {
            _projects = new List<ProjectDataDTO>();
        }
    }

    private bool CanEditProject(ProjectDataDTO project)
    {
        return _currentUser.Admin || (project.Users.Count > 0 && project.Users[0] == _currentUser.Email);
    }

    public void GoToCreateProject()
    {
        NavigationManager.NavigateTo("/CreateProject", true);
    }

    private void GoToEditProject(ProjectDataDTO project)
    {
        ProjectService.SelectedProject = project;
        NavigationManager.NavigateTo($"/EditProject", true);
    }

    private void DeleteProject(GetProjectDTO project)
    {
        ProjectService.RemoveProject(project);
        _projects = ProjectService.ProjectsDataByUserEmail(_currentUser.Email);
    }

    private void ViewTasks(GetProjectDTO getProjectDto)
    {
        NavigationManager.NavigateTo($"/ViewTaskFromProyect/{getProjectDto.Id}", true);
    }

    private void GoToDiagram()
    {
        NavigationManager.NavigateTo("/Diagram", true);
    }

    private string GetAdministratorDisplay(ProjectDataDTO project)
    {
        if (project.Users.Count > 0)
        {
            User? adminUser = ProjectService.GetAdministratorByProjectId(project.Id);

            return $"{adminUser.Name} {adminUser.LastName}";
        }

        return "No administrator";
    }
    
    
    [Inject] private IJSRuntime JSRuntime { get; set; }
    
    private async Task ExportProject(string format)
    {
        _errorMessage = null;
        _successMessage = null;
        
        var projectsLeaders = ProjectService.GetProjectsLedByUser(SessionService.CurrentUser.Email);

        if (projectsLeaders == null || projectsLeaders.Count == 0)
        {
            _errorMessage = "You don't have permission to export. Only project leaders can export data.";
            StateHasChanged();
            return;
        }
        var projects = ProjectService.MapProjectsToExporterDataDto(
            ProjectService.GetProjectsLedByUser(SessionService.CurrentUser.Email)
        );

        string content = format == "csv"
            ? ProjectCsvExporter.Export(projects)
            : ProjectJsonExporter.Export(projects);

        string base64Content = Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(content));
        string mimeType = format == "csv" ? "text/csv" : "application/json";
        string fileName = $"{SessionService.CurrentUser.Email}_Projects.{format}";

        await JSRuntime.InvokeVoidAsync("downloadFile", fileName, base64Content, mimeType);
        
        _successMessage = $"Archivo {format.ToUpper()} exportado exitosamente.";
        StateHasChanged();
    }
    
}